#thingimajig
{
    background-color: antiquewhite;
    text-align: center;
    line-height: 2.3;
    font-size: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

body
{
    background-repeat: no-repeat;
    background-size: cover;
}

#header
{
    width: 100%;
    font-size: large;
    margin: 0px
}

canvas
{
    border-style: dashed;
    border-color: azure;
    border-width: 3px;
    margin-top: 50px;
}